Repository elastic/ecs-logging-nodejs, pull requests merged in 2020-03, with the labels that each got.

#12 Export ECS version
  helpers/README.md
  helpers/index.js
  helpers/package.json
  helpers/test.js
Labels: enhancement, lib:helpers

#13 Use the version number provided by ecs-helpers
  loggers/morgan/index.js
  loggers/morgan/package.json
  loggers/morgan/test.js
  loggers/winston/index.js
  loggers/winston/package.json
  loggers/winston/test.js
Labels: lib:morgan, lib:winston

#14 Added Beta Notice
  README.md
  loggers/morgan/README.md
  loggers/winston/README.md
Labels: documentation, lib:morgan, lib:winston
